{# create menu via menu tags #}
{% load static menu_tags %}
{# get_menu id from 'menus/templatetags/menu_tags.py', we pass in a 'slug', which is 'header' #}
{% get_menu "header" as navigation %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
{%  for item in navigation.menu_items.all %}
  {% if item.link_title == "Home" %}
    <a class="navbar-brand" href="{{ item.link_page.url }}">LINKECE</a>
  {%  endif %}
{%  endfor %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {%  for item in navigation.menu_items.all %}
      <li class="nav-item active">
      {# class property supply conditional link and title logic#}
        <a class="nav-link" href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }} </a>
      </li>
      {%  endfor %}
    </ul>
  </div>
</nav>
