{%  extends "base.html" %}
{%  load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
   {# Override this in templates to add extra stylesheets, image carousel support #}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{%  block content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="cc-inner-title text-center">{{  page.title }}</h1>
    </div>
  </div>


  {# Example of an Orderable from home/models.py #}
  <div id="carouselExampleControls" class="carousel slide mt-2 mb-4" data-ride="carousel">
      <div class="carousel-inner">
          {% for loop_cycle in self.carousel_images.all %}
              {% image loop_cycle.carousel_image fill-900x400 as img %}
              <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                  <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
              </div>
          {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>

{#  all stream block html files are injected here  #}
{#  it is best practice to iterate over the class vs simply 'include_block block.value #}

  {% for block in page.body %}
    {# see templates/streams/<html> to control look and feel of what injects here #}
    {% include_block block %}
  {% endfor %}

  {% block extra_js %}
      {# Override this in templates to add extra javascript, image carousel support #}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% endblock %}

{% endblock content %}
