{%  extends "base.html" %}
{%  load wagtailcore_tags %}
{%  load static %}

{%  block content %}

{#    ensure there are no spaces between condition and filter #}
    {%  if request.GET.tag|length %}
      <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {%  endif %}

      {%  for blogpage in blogpages %}
        <p>
          <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong><br />
          <small>Revised: {{  blogpage.latest_revision_created_at  }}</small><br />
          {% if blogpage.author %}
            By {{ blogpage.author.profile }}
          {% endif %}
        </p>
        {% empty %}
          No pages found with this tag
      {%  endfor %}
  {%  endblock %}

